* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background: url("../images/bg-intro-mobile.png") var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  position: relative;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
