html {
  height: 100vh;
}

body {
  height: 100%;
  background: url("../images/bg-intro-desktop.png") var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
}
