/* 
- Mobile: 375px
- Desktop: 1440px
*/

:root {
  /* Colors */
  --main-color: hsl(0, 100%, 74%);
  --second-color: hsl(154, 59%, 51%);
  --hover-second-color: hsl(154, 59%, 71%);

  /* Accent */
  --accent-color: hsl(248, 32%, 49%);

  /* Neutral */
  --main-text: hsl(249, 10%, 26%);
  --alt-text: hsl(246, 25%, 77%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  width: 100%;
  padding: 1.5rem;
}

/* .header,
.main {
  margin: auto;
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

/* .header div {
  width: 60%;
} */

.title,
.title-legend {
  color: #fff;
}

.title {
  font-size: 1.6em;
  line-height: 110%;
  margin-bottom: 20px;
}

.title-legend {
  font-size: 0.85em;
  line-height: 1.4rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box,
.form {
  border-radius: 7px;
  width: 100%;
}

.info-box {
  background-color: var(--accent-color);
  color: #fff;
  font-size: 0.82em;
  line-height: 2.5vmax;
  padding: 20px 70px;
  margin-bottom: 20px;
  box-shadow: 0 6px 1px rgba(0, 0, 0, 0.2);
}

.form {
  background: #fff;
  padding: 10px 5px;
}

.input-box {
  position: relative;
}

.btn {
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: var(--second-color);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--hover-second-color);
}

.error {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.info {
  font-size: 0.4em;
}
/* 
@media screen and (max-width: 1280px) {
  .header {
    width: 40%;
  }
  .header div {
    width: 80%;
  }

  .content {
    width: 40%;
  }

  .title {
    font-size: 2em;
  }

  .title-legend {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 962px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 70%;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }

  .header div {
    width: 100%;
  }

  .content {
    width: 100%;
    margin-bottom: 60px;
  }

  .title {
    font-size: 2em;
  }

  .title-legend {
    font-size: 0.9em;
  }
} */
